{% extends 'index.twig' %}

{% block content %}
<div class="flex flex-col items-center justify-center min-h-[600px] bg-gray-100">
    <div class="max-w-2xl p-4 mx-auto text-center">
    <div class="text-9xl font-bold text-gray-500">404</div>
    <div class="text-2xl font-bold text-gray-700">Page not found</div>
   <a href="/" class="group hover:text-red transition-all text-white bg-red rounded-xl border-red border hover:bg-white px-4 py-1 mt-4 inline-block">Go To Homepage</a>
</div>
{% endblock %}
